@use 'variables' as *;

.icon__e-commerce{
    font-size: 3rem;
}

.large__icon{
    color:$pink;
}

.text__icons{
    color: $pink;
}

.button__e-commerce{
    background-color: $pink;
}

.section__category-products{
    background-color: $light-pink;
}

.section__price{
    background-color: $light-pink;
}