
/* Couleurs */

$black: #292421;
$white: #f2e7dd; 
$light-pink: #F2D6CE;
$pink: #CA8E82;
$mint: #BAE0DA;

/* Typographie */

$font-title: satisfy;
$font-text: lato; 

$font-size-title: 2.5rem;
$font-size-text: 1rem;

